* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a{
    color: black;
}

.wrapper{}

header{}

header .wrapper{}

header .wrapper h1{}

header .wrapper h1 img{}

header .wrapper ul{}

header .wrapper ul li{}

header .wrapper ul li a{}

header .wrapper ul li:nth-child(4)a{}

header .wrapper ul li:last-child a{}




