* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a{
    color: black;
}

body{
	font-family: "Quicksand", sans-serif;
}
header{
	padding-top: 50px;
}

.wrapper{
	width: 90%;
	margin: 0 auto;	
}

header .wrapper{
	display: flex;
	justify-content: space-between;
	height: 50px;
}
header .wrapper h1 img{
	width: 120px;
}

header .wrapper ul{
	display: flex;
	justify-content: end;
}

header .wrapper ul li{
	margin-right: 32px;
}

header .wrapper ul li a{
	font-size: 18px;
	font-weight: 400;

}

header .wrapper ul li:first-child a{
	font-weight: 600;

}

header .wrapper ul li a:hover{
	text-decoration: underline 3px #FBE0DC;

}

.rounded-text-decoration {
    position: relative;
    text-decoration: none;
    color: black;
	z-index: 1;
  }
  .rounded-text-decoration::after {
	z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px; 
    width: 100%;
    height: 0.2em;
    background-color: #FBE0DC;
    border-radius: 0.1em; 
  }
 

header .wrapper ul li:last-child a{
	font-weight: 600;
	padding: 10px 20px;
	background-color: #FBE0DC;
	border-radius: 25px 25px 10px 10px ;
}


#home{
	padding: 60px 0;
}

#home .wrapper{
	display: flex;
	justify-content: space-between;
}

#home .wrapper .left{
	width: 48%;
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#home .wrapper .left .left-section{
	width: 80%;
	justify-content: center;
	margin: 0 auto;
}


#home .wrapper .left h1{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}
#home .wrapper .left h1 span{
	font-weight: 800;
}


#home .wrapper .left p{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 40px;
	color: rgb(121, 121, 121);
}

#home .wrapper .left a{
	width: 160px;
	text-align: center;
	font-weight: 600;
	padding: 10px 20px;
	background-color: #F7C531;
	border-radius: 25px 25px 10px 10px ;
}

#home .wrapper .right{
	width: 48%;
}

#home .wrapper .right img{
	width: 90%;
}
 
